/* 
 * Portfolio
 */

.section{
    padding-top:160px;
}
.text h2{
    line-height: 4em;
    letter-spacing: .3em;
    font-weight: normal;
}
.text p{
    line-height: 2em;
    font-weight: lighter;
}
.list{
    padding: 60px 35%;
}
.list ul{
    display: flex;
    justify-content: space-between;
}
.list ul>li{
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    letter-spacing: .1rem;
}
.list li:before{
    content: " ";
    position: absolute;
    width: 20px;
    height: 7px;
    margin-top: 7px;
    background-color: rgba(172, 167, 167,.4);
}

/* GRID */
.p-item>img{
    max-width: 100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.box-4{
   transform: translateY(-52%);
}
.box-6{
    transform: translateY(-30%);
}
.p-item{
    position: relative;
}
@media screen and (max-width:768px){
    .grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    .box-3{
        grid-row: 2 / 3;
        transform: translateY(-52%);
    }
    .box-5{
        grid-row: 3 / 4;
        transform: translateY(-82%);
    }
    .box-6{
        grid-row: 4 / 5;
        transform: translateY(-110%);
    }
    .box-4{
        transform: translateY(1%);
    }
 
}

.media-content{
    display: none;
}

/* BUTTON */
.btn-load{
    margin: 90px;
}
.btn-load a{
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border: 1px solid black;
    padding: 1rem 2rem;
}
.btn-load:hover a{
    background-color: #343a40;
}
